<!-- Begin HTML Document -->
<!DOCTYPE html>
<html class="no-js" lang="en">
  <head>
    <!-- Meta Data -->
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <!-- Page Title -->
    <title>UserAuth</title>
    
    <!-- FontAwesome CSS -->
    <link rel="stylesheet" type="text/css" href="/css/font-awesome.min.css">
    <!-- Husk.css -->
    <link rel="stylesheet" type="text/css" href="https://rawgit.com/rsruggles/Husk/master/css/husk.css">
    <!-- Calyx Styles -->
    <link rel="stylesheet" type="text/css" href="/css/calyx.css">
    <!-- Custom Styles -->
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    <!-- jQuery Library -->
    <script src="/js/jquery-3.2.1.min.js"></script>  
  </head>
  
  <!-- Document Body -->
  <body>
    <!--[if lte IE 9]>
      <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
    <![endif]-->
    
    <!-- Document Header -->
    <header>
      <div class="row">
        <div class="container">
          <!-- Branding Image -->
          <img class="img-brand" src="images/brand.svg" alt="UserAuth.js">
          <!-- Drop Down Button -->
          <i class="menu-btn fa fa-bars" aria-hidden="true"></i>
          <!-- Navigation -->
          <nav>
            <ul class="menu">
              <li class="menu-item"><a href="/">Dashboard</a></li>
              <li class="menu-item"><a href="/users/login">Login</a></li>
              <li class="menu-item"><a href="/users/register">Register</a></li>
              <li class="menu-item"><a href="/users/logout">Logout</a></li>
            </ul>
          </nav>
        </div>
      </div>
    </header>
    
    <!-- Document Main -->
    <main>
      <div class="row">
        <div class="container">
          <div class="col-12">
            <h1>LoginApp</h1>
            
            {{#if success_msg}}
              <div class="notice success">{{success_msg}}</div>
            {{/if}}
            
            {{#if error_msg}}
              <div class="notice alert">{{error_msg}}</div>
            {{/if}}
            
            {{#if error}}
              <div class="notice alert">{{error}}</div>
            {{/if}}
            
            {{{body}}}

          </div>
        </div>
      </div>
      
    
    
    </main>
    
    <!-- Document Footer -->
    <footer>
    
    </footer>
    
    <!-- JavaScript Include -->
    <script src="/js/javascript.js"></script>
  </body>  
</html>