<h2>Account Login</h2>
<form method="post" action="/users/login">
  <div class="calyx-form">
    <label>Username</label>
    <input type="text" placeholder="Username">
  </div>
  <div class="calyx-form">
    <label>Password</label>
    <input type="text" placeholder="Password">
  </div>
  <button type="submit">Submit</button>
</form>